:root {

  /* Colors */

  --cyan-400: hsl(178, 100%, 50%);
  --soft-blue-100: hsl(215, 51%, 70%);

  --dark-blue-800: hsl(217, 54%, 11%);
  --dark-blue-700: hsl(216, 50%, 16%);
  --dark-blue-600: hsl(215, 32%, 27%);

  --white-100: hsl(0, 0%, 100%);

  /* Component */

  --clr-main-bg: var(--dark-blue-800);
  --clr-card-bg: var(--dark-blue-700);
  --clr-accent: var(--dark-blue-600);

  --clr-text-primary: var(--soft-blue-100);
  --clr-text-accent: var(--cyan-400);
  --clr-text-title: var(--white-100);

  /* Font size */
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-600: 1.375rem;

  /* Font weight */

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Utilities */

.flex-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

body {
  background-color: var(--clr-main-bg);
  color: var(--clr-text-primary);
  font-family: 'Outfit', sans-serif;
  font-size: var(--fs-300);
  font-weight: var(--fw-light);

  display: grid;
  place-content: center;
  margin: 0 1.5rem;
}

/* Card styling */

.card {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
  background-color: var(--clr-card-bg);
  border-radius: 1rem;
  max-width: 20.5rem;
}

.card__img {
  border-radius: 0.5rem;
}

.card__title {
  color: var(--clr-text-title);
}

.card__info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-accent);
  padding-bottom: 1rem;
}

.card__price {
  color: var(--clr-text-accent);
  font-weight: var(--fw-bold);
}

.card__time {
  font-weight: var(--fw-regular);
}

.card__avatar {
  border-radius: 100%;
  border: 1px solid var(--white-100);
  height: 2rem;
}

.card__author-name {
  color: var(--clr-text-title);
}

@media (min-width: 768px) {

  body {
    font-size: var(--fs-500);
  }

  .card {
    max-width: 21.875rem;
    padding: 1.5rem 1.5rem 2rem;
  }

  .card__title {
    margin-top: 0.5rem;
    font-size: var(--fs-600);
  }

  .card__info {
    font-size: var(--fs-400);
    padding-bottom: 1.4rem;
  }

  .card__avatar {
    height: 2.1rem;
    margin-right: 0.5rem;
  }

  .card__author {
    font-size: var(--fs-400);
  }
}